@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  width: 80vw;
  margin: 100px auto 0;
  padding: 16px;
  background-color: #ffffff;
}

.tabs {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #bbbbbb2d;
}

.tabs li {
  display: none;
}
.tabs li.show {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 8px;
}
.tabs li.active {
  cursor: pointer;
  background-color: #4f4f4f;
  color: #fff;
  border-radius: 8px 8px 0 0 ;
}
.tabs li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.contents {
  display: flex;
}

.contents li {
  display: none;
}
.contents li.active {
  display: flex;
  background-color: #d3d3d3;
  width: 100%;
  padding: 8px;
}

.arrow-right,
.arrow-left {
  display: none;
}
.arrow-right.show,
.arrow-left.show {
  width: 40px;
  height: auto;
  display: grid;
  place-items: center;
  background: transparent;
  color: rgb(24, 164, 219);
  border: none;
  cursor: pointer;
}
